body #loginContainer{
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button{
    width: 100%;
    padding: 10px;
    background-color: black;
    color: cadetblue;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
}

#message {
    color: red;
    text-align: center;
    font-size: 14px;
}
